<br>
<ion-card>
    <ion-card-content>
        <ion-label style="font-size:1rem;">Savings Account</ion-label>
        <br>
        <br>
        <ion-label style="font-size:0.8rem;"> <b>5241 XXXX XXXX 4536</b></ion-label>
        <br>
        <ion-label style="font-size:0.8rem;">Your Savings Account Balance is:</ion-label>
        <br>
        <ion-label style="font-size:0.8rem;"><b>xx,xxx.xx</b></ion-label>
    </ion-card-content>
</ion-card>
<br>
<br>
<ion-card>
    <ion-card-content>
        <ion-label style="font-size:1rem;">Current Account</ion-label>
        <br>
        <br>
        <ion-label style="font-size:0.8rem;"><b>5241 xxxx xxxx 4536</b></ion-label>
        <br>
        <ion-label style="font-size:0.8rem;">Your Current Account Balance is:</ion-label>
        <br>
        <ion-label style="font-size:0.8rem;"><b> xxx,xxx.xx</b></ion-label>
    </ion-card-content>
</ion-card>