<ion-app>
    <ion-menu contentId="main-content" style="width: 50%;">
        <ion-header>
            <ion-toolbar style="border: transparent;">
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <div style="color: black;font-size:0.8rem;opacity: 0.8;">
                Edit Preference
            </div>
        </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <img src="../../assets/icon/power.png" style="width: 2rem;" (click)="logOut()">
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <!-- <ion-input [(ngModel)]="myText"></ion-input>
            <ion-button expand="full" (click)="startRecognition()" *ngIf="!recording">Start speech recognition
            </ion-button>
            <ion-button expand="full" (click)="stopRecognition()" *ngIf="recording">Stop speech recognition
            </ion-button> -->
            <!-- <ion-button expand="full" (click)="speakText()" *ngIf="!recording">Speak </ion-button> -->
            <app-widgets></app-widgets>
        </ion-content>
    </div>
</ion-app>